<header>
  <nav>
    <a href="/">Home</a>
    <a href="/recipes">Recipes</a>
    <a href="/account">Account</a>
  </nav>
</header>
<div>
  <%if flash.has?(:message)%>
    <%=flash[:message]%>
  <%end%>
</div>
<h1>Please Sign Up or Log In</h1>
<div>
  <form method="post" action="/signup">
    <div>
      <label for="signup_email">email</label>
      <input id="signup_email" type="email" name="email">
    </div>
    <div>
      <label for="signup_password">password</label>
      <input id="signup_password" type="password" name="password">
    </div>
    <div>
      <input id="signup_submit" type="submit" value="Sign Up">
    </div>
  </form>
</div>
<div>
  <form method="post" action="/login">
    <div>
      <label for="login_email">email</label>
      <input id="login_email" type="email" name="email">
    </div>
    <div>
      <label for="login_password">password</label>
      <input id="login_password" type="password" name="password">
    </div>
    <div>
      <input id="login_submit" type="submit" value="Log In">
    </div>
  </form>
</div>
