<head>
  <script type='text/javascript'>
    function addIngredient(){
      var container = document.getElementById("new_recipe_ingredients");
      var quantity_label = document.createTextNode("Quantity: ");
      var quantity_input = document.createElement("input");
      quantity_input.type = "text";
      quantity_input.name = "ingredients[][quantity]";
      var name_label = document.createTextNode("Name: ");
      var name_input = document.createElement("input");
      name_input.type = "text";
      name_input.name = "ingredients[][name]";
      var line_break = document.createElement("br");
      container.appendChild(quantity_label);
      container.appendChild(quantity_input);
      container.appendChild(name_label);
      container.appendChild(name_input);
      container.appendChild(line_break);
    }

    function addInstruction(){
      var container = document.getElementById("new_recipe_instructions");
      var instruction_label = document.createTextNode("Instruction: ");
      var instruction_input = document.createElement("textarea");
      var line_break = document.createElement("br");
      instruction_input.name = "recipe[instructions][]";
      container.appendChild(instruction_label);
      container.appendChild(instruction_input);
      container.appendChild(line_break);
    }
  </script>
</head>
<header>
  <nav>
    <a href="/">Home</a>
    <a href="/recipes">Recipes</a>
    <a href="/account">Account</a>
  </nav>
</header>
<div>
  <%if flash.has?(:message)%>
    <%=flash[:message]%>
  <%end%>
</div>
<h1>Edit <%=@recipe.name%></h1>
<nav>
  <a href="/recipes">All Recipes</a>
  <a href="/recipes/yourrecipes">Your Recipes</a>
  <a href="/recipes/new">Create a Recipe</a>
</nav><br>
<form method="post" action="/recipes/<%=@recipe.id%>">
  <input type="hidden" name="_method" value="patch">
  <div>
    Recipe Name: <input id="new_recipe_name" type="text" name="recipe[name]" value="<%=@recipe.name%>">
  </div><br>
  Ingredients:
  <div id="new_recipe_ingredients">
  </div>
  <input type="button" value="Add Ingredient" onclick="addIngredient();"><br><br>
  Instructions:
  <div id="new_recipe_instructions">
  </div>
  <input type="button" value="Add Instruction" onclick="addInstruction();"><br></br>
  <input type="submit" value="Edit Recipe">
</form>
