<header>
  <nav>
    <a href="/">Home</a>
    <a href="/recipes">Recipes</a>
    <a href="/account">Account</a>
  </nav>
</header>
<h1>Your Favorite Recipes</h1>
  <nav>
    <a href="/recipes">All Recipes</a>
    <a href="/recipes/yourrecipes">Your Recipes</a>
    <a href="/recipes/new">Create a Recipe</a>
  </nav>
